<div *ngFor="let book of allBook">
  <mat-card>
    <div>
      <div class="imagine column-left"></div>
      <div class="column-right">
        <p>
          Title : {{ book.title }}
          <span
            *ngIf="newReview"
            class="badge bg-danger position-absolute translate-middle"
            >New</span
          >
        </p>
        <p>Author: {{ book.author }}</p>
        <p>Publishing: {{ book.publishing }}</p>
        <p>Count Page: {{ book.countPages }}</p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-eye"
            viewBox="0 0 16 16"
            (click)="changeColor()"
            cursor="pointer"
            [style.color]="color"
          >
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
            />
            <path
              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
            />
          </svg>
          Review
        </p>
      </div>
    </div>
  </mat-card>

  <mat-accordion class="mat-acordion">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Click here to see all reviews </mat-panel-title>
      </mat-expansion-panel-header>

      <p *ngFor="let review of book.review">{{ review }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<form [formGroup]="reviewForm">
  <button class="btn btn-primary add-new-review-button">Add Review</button>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    fill="currentColor"
    class="bi bi-check-circle"
    viewBox="0 0 16 16"
    (click)="AddReview()"
    [style.color]="color"
  >
    <path
      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
    />
    <path
      d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
    />
  </svg>
  <input
    #review
    type="text"
    class="form-control firstControl"
    formControlName="firstReview"
    [(ngModel)]="reviewText"
  />
  <p class="paragraf" *ngIf="reviewForm.invalid && reviewForm.touched">
    Acest camp este required!
  </p>

  <div formArrayName="reviews">
    <!-- <div *ngFor="let review of reviewsControls.controls; let i = index">
      <input
        #review
        type="text"
        class="form-control nextReviews"
        [formControlName]="i"
      
      />
      

      <p class="paragraf" *ngIf="reviewForm.invalid && reviewForm.touched">
        Acest camp este required!
      </p>

      <p
        class="renunta-paragraf"
        (click)="renunta(i)"
        *ngIf="reviewForm.invalid && reviewForm.touched"
      >
        Renunta !
      </p>
    </div> -->
  </div>
</form>
