.container {
  width: 100%;
  height: 100%;
}
.allBookDisplay {
  column-count: 3;
  margin-top: 50px;
}
.titleStyle {
  margin-top: 100px;
}
.formBook {
  margin-top: 0px;
  margin-left: 0px;
  width: 400px;
  height: 400px;
  background-color: rgb(144, 148, 148);
  align-items: center;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: white;
  position: fixed;
  border: 10px solid#161615;
}
.table {
  background-color: #c7c7c2;
}
.tableStyles {
  opacity: 0.2;
}
.td {
  height: 20px;
  font-size: 20px;
  width: 210px;
}

.th {
  font-weight: bold;
  font-size: 20px;
}
.titleStyle {
  margin-top: 100px;
  margin-left: 50px;
  width: 800px;
  color: black;
}
.btn-primary {
  background-color: rgb(83, 81, 77);
  border-color: antiquewhite;
}
.navbar {
  color: aliceblue;
  height: 2 rem;
  width: 100%;
}

.bi-x-circle-fill {
  color: rgb(219, 16, 16);
  margin-right: 10px;
}
.homeButton {
  --bs-btn-color: #ffffff;
  color: #ffffff;
  margin-left: 10px;
}
.homeButton:hover {
  background-color: rgb(93, 94, 95);
}
.booksButton {
  --bs-btn-color: #ffffff;
  color: #ffffff;
}
.booksButton:hover {
  background-color: rgb(93, 94, 95);
}
.usersButton {
  --bs-btn-color: #ffffff;
  color: #ffffff;
}
.usersButton:hover {
  background-color: rgb(93, 94, 95);
}
.contactsButton {
  --bs-btn-color: #ffffff;
  color: #ffffff;
}
.contactsButton:hover {
  background-color: rgb(93, 94, 95);
}
.bi-envelope-at-fill {
  color: white;
}
.email {
  margin-left: 700px;
}
.body {
  color: black;
}
.bi-trash3-fill {
  margin-left: 8px;
  color: red;
}
.example-viewport {
  height: 600px;
  width: 500px;
  border: 1px solid black;
}
.grid {
  columns: 2;
}
.update-button {
  margin-left: 160px;
  margin-top: 15px;
}
.scroll-table {
  height: 472px;
  overflow: auto;
}
